.paginatorWrapper {
    margin-top: 10px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectPage {
    text-align: center;
    color: #fff;
    padding: 5px 7px;
    min-width: 25px;
    margin: 2px;
    background: #424254;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.pages {
    text-align: center;
    color: #fff;
    padding: 5px 7px;
    min-width: 25px;
    margin: 2px;
    background: #424242;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.pages:hover {
    background: #575757;
}

.pages:active {
    background: #676770;
}

.paginatorButton {
    height: 32px;
    min-width: 50px;
    margin: 4px;
    color: #fff;
    background: #424254;
    border-radius: 8px;
    transition: 0.3s;
}

.paginatorButton:hover {
    background: #464464;
}

.paginatorButton:active {
    background: #464475;
}